.car-detai{
  min-height: 100vh;
  background-color: #ffffff;
  /* padding: 20px; */
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}


/* Ensure proper spacing for mobile */
@media (max-width: 768px) {
  .car-detail {
    overflow-x: hidden;
  }
}
