.facts-section {
  background: #fff;
  padding: 3rem 1rem;
  width: 100%;
}
.facts-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background: rgba(89, 55, 224, 0.9);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  padding: 2.5rem;
}

.fact-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.fact-description{
    max-width: 500px;
    align-self: center;
    line-height: 1.5;
    font-size: 1.9;
}
.facts-section__list{
  display: flex;
  flex-direction: row;
  gap:2rem;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  flex-wrap: wrap;
}
.fact-list-item{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap:0.8rem;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 0.8rem 1.2rem;
    min-width: 180px;
    max-width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}
.item__icon{
    content: " ";
    background: #FF9E0C;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    flex-shrink: 0;
}
.item-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__numbers {
  font-weight: bold;
  color: #000;
  font-size: 1.3rem;
}

.item__label {
  font-size: 0.95rem;
  color: #555;
}
